.crearCompeencia{
    height: 150vh;
    background: #85BDBF;
    display: flex;
}
.competenciasCreadas{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
}
.seccionGanadores{
    display: flex;
    height: 140vh;
    flex-direction: column;
}

.seccionTiempo{
    height: 100vh;
}

@media only screen and (min-width: 768px){
    .crearCompeencia{
        height: 110lvb;
    }
}